 
td:hover {
	background-color:#87CEFA;
}


table, th, tr, td {
	border: 2px solid black;
	padding: 5px;
	columns: 5px solid black;
}


table {
	border-collapse: collapse;
	width: 20%;
	height: 100%;
}


td{
	height: 100px;
}


